@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Azeret Mono", monospace;
  color: rgb(13, 19, 33);
}

.nav {
  margin: 0 auto;
  width: 1140px;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-bg {
  background-image: url("./assets/hero-bg.png");
}

.nav > h2 {
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
}

.nav > button {
  padding: 17px 24px 17px 24px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  font-family: "Azeret Mono", monospace;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.hero {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 652px;
}

.hero > img {
  margin-bottom: 32px;
}

.hero > h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.hero > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  width: 852px;
  margin-bottom: 32px;
}

.hero > button {
  padding: 21px 24px 21px 24px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}

.hero > button > a {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  text-decoration: none;
}

.web-dev {
  margin: 0 auto;
  width: 1140px;
  height: 1025px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px 80px 97px;
  margin-top: 74px;
}

.web-dev > h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.web-dev > p {
  width: 852px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}

.web-dev-cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  width: 100%;
}

.web-card {
  width: 946px;
  height: 336px;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
}

.web-card-2 {
  flex-direction: row-reverse;
}

.we-card-content > h3 {
  width: 390px;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}

.we-card-content > p {
  width: 468px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}

.we-card-content > button {
  padding: 12px 20px 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: rgb(255, 255, 255);
}

.we-card-content > button > a {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  color: rgb(13, 19, 33);
  text-decoration: none;
  font-family: "Azeret Mono", monospace;
}

.my-inspiration {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 90px;
}

.my-inspiration > h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.my-inspiration > p {
  width: 852px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}

.my-inspiration-video {
  padding: 32px;
  height: 614px;
  width: 100%;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}

.my-inspiration-video > iframe {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.current-tar {
  margin: 0 auto;
  width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 90px;
}

.current-tar > h2 {
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.current-tar > p {
  width: 852px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}

.current-tar-cards {
  display: flex;
  justify-content: center;
  gap: 24px;
  align-items: center;
  width: 100%;
}

.tar-card {
  width: 364px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border-radius: 16px;
}

.tar-card-bg-1 {
  background: rgba(255, 76, 30, 0.05);
}

.tar-card-bg-2 {
  background: rgba(0, 76, 232, 0.05);
}

.tar-card-bg-3 {
  background: rgba(255, 223, 0, 0.05);
}

.tar-card > h3 {
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 24px;
}

.tar-card > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 24px;
}

.tar-card > a {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgb(13, 19, 33);
  text-decoration-line: underline;
}

.support {
  margin: 0 auto;
  width: 1140px;
  height: 314px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url("./assets/handshake.jpg");
  background-size: cover;
  background-position: center;
}

.support > h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  margin-bottom: 16px;
}

.support > p {
  width: 606px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  opacity: 0.7;
  margin-bottom: 24px;
}

.support-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.support-button > input {
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  font-family: "Azeret Mono", monospace;
  background: rgb(255, 255, 255);
  padding: 19px 20px 19px 20px;
  width: 548px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
}

.support-button > input::placeholder {
  font-size: 16px;
  font-weight: 400;
  font-family: "Azeret Mono", monospace;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  color: rgba(13, 19, 33, 0.4);
}

.support-button > button {
  padding: 17px 20px 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

#footer {
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  height: 100px;
  margin-top: 80px;
}

.contact-me {
  height: 100%;
  margin: 0 auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 24px;
}
